:root {
  --yellow: #FEC503;
  --grey: #373737;
  --white: #EEE;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  background: var(--yellow);
  font-family: sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section {
  position: relative;
  height: 100vh;   
}
/* Section Welcome */
#welcome-page {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr minmax(240px, 500px) 1fr;
}

.language-buttons {
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.language-buttons:hover {
  cursor: pointer;
  opacity: .4;
}

#welcome-page a {
  padding-top: 50px;
  position: absolute;
  bottom: 10px;
  right: 30px;
  display: inline-block;
  transform: translate(0, -20%);
  color: var(--white);
  letter-spacing: .1rem;
  text-decoration: none;
  transition: opacity .3s;
}

#welcome-page a:hover {
  opacity: .5;
}

#welcome-page a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

@media (max-width: 700px) {
 #welcome-page a {
   display: none;
 } 
}

/* Section Introduction */
#intro {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  background: url(img/f_holes.svg), var(--grey);
  background-attachment: fixed;
  color: var(--white);
}

.navbar {
  background: rgba(0, 0, 0, .2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 700px) {
  .navbar {
    flex-wrap: wrap;
  }
  .navbar > li {
    flex: 1 1 100%;
  }
}

.navbar-signature {
  margin-right: auto;
  flex-basis: 300px;
  flex-shrink: 1;
  display: none;
}

.navbar-link {
  flex-basis: 150px;
  flex-shrink: 15;
  text-align: center;
  white-space: nowrap;
}

#signature .path {
  stroke-width: 1;
  stroke: var(--yellow);
  stroke-dasharray: 2000; 
  stroke-dashoffset: 3000; 
  animation: dash 4s linear forwards;
}

@keyframes dash {
  0% {
    opacity: 1; 
    fill: none;
  }
  33% {
    fill: none;
  }
  66% {
    fill: rgba(255, 211, 47, 0);
  }
  100% {
    fill: var(--yellow); 
    stroke-dashoffset: 0;
  }
}

#signature .dotAboveFirstI {
  stroke-dasharray: 100; 
  stroke-dashoffset: 100; 
  transition: 1s linear;
}

#signature .dotAboveSecondI {
  stroke-dasharray: 100; 
  stroke-dashoffset: 100; 
  transition: 1s linear;
} 

/* @media (max-width: 600px) {
  .navbar-link {
    display: none;
  }
} */

.navbar-item {
  list-style: none;
  padding: 1rem;
}

.navbar-link a {
  text-decoration: none;
  letter-spacing: .2rem;
  color: inherit;
  text-transform: uppercase;
}

.navbar-link a:hover {
  color: var(--yellow);
}

.container-intro {
  display: grid;
  grid-gap: 1.5rem;
  justify-items: center;
  text-align: center;
}

.container-intro h1 {
  font-size: 2.8rem;
  font-weight: lighter;
}

.container-intro h3 {
  font-size: 1.5rem;
  font-weight: lighter;
}

.contact-buttons {
  display: flex;
  list-style: none;
}

.contact-button {
  width: 2rem;
  padding: .8rem;
}

.contact-button svg {
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.contact-button svg:hover {
  cursor: pointer;
  fill: var(--yellow);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
}

.container-intro button {
  background: var(--yellow);
  font-size: 1.1rem;
  letter-spacing: .15rem;
  color: #FFF;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 3px;
  padding: 1rem 1.5rem;
  outline: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.container-intro button:hover {
  cursor: pointer;
  border: 2px solid var(--white);
  transform: scale(1.1);
}

/* Section About */
#about {
  background: var(--white);
}

/* Section Portfolio */
#portfolio {
  background: var(--grey);
}